html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
    background-color: #eee;
    overflow-y: scroll;
}

#main{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
body > #main{
    height: auto;
}

#top_bar{
    margin: 0;
    padding: 8px 10% 0;
    width: 80%;
    height: 25px;
    color: #fff;
    background-color: #444;
}

#content{
    margin: 0 auto;
    padding: 5px 30px 20px;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    width: 80%;
    height: auto;
    min-height: 90%;
    background-color: #fff;
}

#tweet_form{
    margin: 10px 0 0;
    float: left;
    width: 49%;
}

#tweet_right{
    width: 49%;
    display: inline-block;
}

#CI_form{
    display: inline;
}

#count{
    margin-left: 8px;
    display: inline;
}

#tweet_list{
    margin: 10px 0 0;
    border: solid 2px #999;
    border-bottom: solid 1px #999;
    width: 100%;
}

div.tweet{
    padding: 1px 3px 1px;
    border-bottom: solid 1px #999;
}

div.username{
    text-align: left;
    float: left;
    font-weight: 700;
    font-size: 16px;
}

div.time{
    text-align: right;
}

div.tweet_text{
    margin: 10px 0 0;
}

#no_tweet{
    display: none;
}

